# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# venv
venv/
.venv/
env/
ENV/
*.env
.env.*
!.env.example
*.tar

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# build logs
*.log
*.tmp
*.bak
*.swp
*.pid
.cache/
.tox/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# test
.pytest_cache/
tests/__pycache__/

/data/parcels