version: "3.9"

services:
  app:
    build: .
    container_name: fastapi_dev
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
